@include extjs-tab-panel-ui(
    $ui: 'tabandtools',

    // bar
    $ui-bar-background-color: transparent,
    $ui-bar-border-color: mix(#000, $neutral-light-color, 10%),
    $ui-bar-border-width: 0 0 1px 0 !important,
    $ui-bar-padding: 8px 8px 0 8px,

    // tab border
    $ui-tab-border-width: 1px,
    $ui-tab-border-color: mix(#000, $neutral-light-color, 10%),
    $ui-tab-border-color-focus: mix(#000, $neutral-light-color, 10%),
    $ui-tab-border-color-over: mix(#000, $neutral-light-color, 10%),
    $ui-tab-border-color-focus-over: mix(#000, $neutral-light-color, 10%),
    $ui-tab-border-color-disabled: mix(#000, $neutral-light-color, 10%),
    $ui-tab-border-color-active: mix(#000, $neutral-light-color, 10%) mix(#000, $neutral-light-color, 10%) #FFF mix(#000, $neutral-light-color, 10%),
    $ui-tab-border-color-focus-active: mix(#000, $neutral-light-color, 10%) mix(#000, $neutral-light-color, 10%) #FFF mix(#000, $neutral-light-color, 10%),

    // tab font color
    $ui-tab-color: mix(#FFF, $color, 40%),
    $ui-tab-color-focus: mix(#FFF, $color, 40%),
    $ui-tab-color-over: mix(#FFF, $color, 40%),
    $ui-tab-color-focus-over: mix(#FFF, $color, 40%),
    $ui-tab-color-disabled: mix(#FFF, $color, 60%),
    $ui-tab-color-active: $color,
    $ui-tab-color-focus-active: $color,
    
    // tab font weight
    $ui-tab-font-weight-active: bold,
    $ui-tab-font-weight-focus-active: bold,

    // outline
    $ui-tab-outline-width-focus: 0,

    // tab padding
    $ui-tab-padding: 4px 7px 4px 7px,

    // tab background opacity
    $ui-tab-background-opacity-over: .04,
    $ui-tab-background-opacity-active: .06
);

.#{$prefix}tab-bar-horizontal > .#{$prefix}tab-bar-body-tabandtools {
    margin-bottom: -1px;
}

.#{$prefix}box-scroller-tab-bar-administration-tabandtools{
    background-color: $administration-base-color!important;
}
/**
 * Tool style
 */
.#{$prefix}tool-tabandtools {
    padding: 4px;

    .#{$prefix}tool-tool-el {
        color: $color;
    }
} 
.#{$prefix}tool.management-tool {
    .#{$prefix}tool-tool-el {
        color: $action-color;
    }

    &.#{$prefix}tool-disabled {
        opacity: 0.5;
        .#{$prefix}mask {
            background-color: transparent;
        }
    }
}

 .#{$prefix}tab-bar-horizontal > .#{$prefix}tab-bar-body-tabandtools .#{$prefix}tab.hidden-tab {
    display: none;
 }