/*
 * This is is imported by virtue of "sass.var" in "app.json".
 */

$enable-font-awesome: dynamic(true);

/**
 * Forms
 */
$form-label-font-color: dynamic(#707070);
$form-label-font-weight: bold;
$form-label-vertical-spacing: 0;

$grid-row-cell-selected-background-color: dynamic(lighten($base-color, 61%));

/**
 * Move into CMDBuild theme
 */
$base-color: dynamic(#005CA9);
$action-color: dynamic(#CA7705);
$secondary-action-color: dynamic(#8E8E8E);

/**
 * Load mask opacity
 */
$loadmask-page-opacity: 0.5;

/**
 * Base font color
 */
$color: dynamic(#000000);

/**
 * Form item margin bottom
 */
$form-item-margin-bottom: dynamic(3px);

/**
* Grid outline
*/
$grid-row-cell-focus-border-width: dynamic(0);

/**
 * Grid cell inner padding
 */
$grid-cell-inner-padding: dynamic(6px 10px 5px);

/**
 * Panel header
 */
$panel-header-padding: dynamic(8px 12px 9px);

/**
 * Nav tree items
 */
$treelist-item-line-height: dynamic(30px);
