.x-panel {
    .cmdbuild-reorder-grid {
        table,
        .x-column-header .x-column-header-over {
            background-color: #fff !important;
            border: 0 !important;
        }
        .x-grid-body,.x-column-header-inner:after {
            border: 0 !important;
        }
        .x-column-header-text{
            color: #707070;
            font: bold 13px/17px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
        }
    }
}