.#{$prefix}filters-launcher {
    .#{$prefix}toolbar-text {
        padding: $button-small-padding;
    }
    .#{$prefix}tool {
        padding: $button-small-padding;
        padding-left: 0;
        .#{$prefix}tool-tool-el {
            color: $form-trigger-glyph-color;
        }
    }
}
.#{$prefix}boundlist.#{$prefix}filtermenu {
    .#{$prefix}boundlist-header {
        .#{$prefix}box-inner {
            height: 17px;
            .#{$prefix}box-target {
                height: 17px;
                
                .#{$prefix}tool-tool-el {
                    color: $form-trigger-glyph-color;
                }
            }
        }
    }
    .#{$prefix}panel-body {
        .#{$prefix}grid-row {
            .#{$prefix}action-col-icon {
                margin-left: 7px;
            }
        }
    }
}