.#{$prefix}form-item-label-default {
    color: #707070 !important;
}
.management .#{$prefix}form-display-field.#{$prefix}form-display-field-default {
    margin-top: 0 !important;
    min-height: 20px !important;
}
.#{$prefix}form-item-label-default .#{$prefix}form-item-label-help {
    position: absolute;
    right: 0;
    cursor: help;
}
.#{$prefix}form-text-default.#{$prefix}form-textarea {
    resize: vertical;
}

.#{$prefix}grid-cell-inner.#{$prefix}grid-cell-inner-treecolumn{
    text-align: left !important;
}

.#{$prefix}grid-item-focused .#{$prefix}grid-cell-inner:before {
    border: 0;
}

.full-eye {
    background-image: url('../../resources/images/bim/eye.png');
}
.half-eye {
    background-image: url('../../resources/images/bim/halfeye.png');
}
.gray-eye {
    background-image: url('../../resources/images/bim/eye_bw.png');
}

/**
 * Management Light Tab Panel
 */
@include extjs-tab-panel-ui(
    $ui: 'managementlighttabpanel',

    // bar
    $ui-bar-background-color: #FFF,
    $ui-bar-border-color: $base-color,
    $ui-bar-border-width: 0 0 1px 0 !important,

    // tab border
    $ui-tab-border-width: 1px,
    $ui-tab-border-color: mix(#000, $neutral-light-color, 10%) mix(#000, $neutral-light-color, 10%) $base-color mix(#000, $neutral-light-color, 10%),
    $ui-tab-border-color-focus: mix(#000, $neutral-light-color, 10%) mix(#000, $neutral-light-color, 10%) $base-color mix(#000, $neutral-light-color, 10%),
    $ui-tab-border-color-over: mix(#000, $neutral-light-color, 10%) mix(#000, $neutral-light-color, 10%) $base-color mix(#000, $neutral-light-color, 10%),
    $ui-tab-border-color-focus-over: mix(#000, $neutral-light-color, 10%) mix(#000, $neutral-light-color, 10%) $base-color mix(#000, $neutral-light-color, 10%),
    $ui-tab-border-color-disabled: mix(#000, $neutral-light-color, 10%) mix(#000, $neutral-light-color, 10%) $base-color mix(#000, $neutral-light-color, 10%),
    $ui-tab-border-color-active: $base-color $base-color #FFF $base-color,
    $ui-tab-border-color-focus-active: $base-color $base-color #FFF $base-color,

    // tab font color
    $ui-tab-color: mix(#FFF, $color, 40%),
    $ui-tab-color-focus: mix(#FFF, $color, 40%),
    $ui-tab-color-over: mix(#FFF, $color, 40%),
    $ui-tab-color-focus-over: mix(#FFF, $color, 40%),
    $ui-tab-color-disabled: mix(#FFF, $color, 60%),
    $ui-tab-color-active: $base-color,
    $ui-tab-color-focus-active: $base-color,
    
    // tab font weight
    $ui-tab-font-weight-active: bold,
    $ui-tab-font-weight-focus-active: bold,

    // outline
    $ui-tab-outline-width-focus: 0,

    // tab padding
    $ui-tab-padding: 4px 7px 4px 7px,

    // tab background opacity
    $ui-tab-background-opacity-over: .04,
    $ui-tab-background-opacity-active: .06
);
@include extjs-panel-ui(
    $ui: 'managementlighttabpanel'
);
.#{$prefix}tab-bar-horizontal > .#{$prefix}tab-bar-body-managementlighttabpanel {
    margin-bottom: -1px;
}
.#{$prefix}panel-body-managementlighttabpanel {
    margin-top: -1px;
}
