@if $include-fieldset-default-ui {
    @include extjs-fieldset-ui($ui: 'administration-formpagination',
        $ui-header-font-size: $font-size,
        $ui-header-font-weight: bold,
        $ui-header-color: $administration-base-color,
        $ui-border-width: 0,
        $ui-tool-expand-glyph: $fa-var-angle-up,
        $ui-tool-collapse-glyph: $fa-var-angle-down,
        $ui-collapse-tool-margin: 2px 0 0 4px);
}

.#{$prefix}fieldset-administration-formpagination {
    background: #fff;

    .#{$prefix}fieldset-header {
        margin-left: 10px;
    }
}

.#{$prefix}fieldset-header-administration-formpagination .#{$prefix}fieldset-header-tool-administration-formpagination {
    float: right;
}

.#{$prefix}form-item.#{$prefix}column:first-of-type {
    padding-right: 15px;
}



@include extjs-button-ui($ui: 'administration-action-small',

$border-color: $administration-action-color,
$border-color-over: button-default-border-color-over($administration-action-color),
$border-color-focus: button-default-border-color-focus($administration-action-color),
$border-color-pressed: button-default-border-color-pressed($administration-action-color),
$border-color-focus-over: button-default-border-color-over($administration-action-color),
$border-color-focus-pressed: button-default-border-color-pressed($administration-action-color),
$border-color-disabled: button-default-border-color-disabled($administration-action-color),

$padding: $button-small-padding,
$text-padding: $button-small-text-padding,

$background-color: $administration-action-color,
$background-color-over: button-default-background-color-over($administration-action-color),
$background-color-focus: button-default-background-color-focus($administration-action-color),
$background-color-pressed: button-default-background-color-pressed($administration-action-color),
$background-color-focus-over: button-default-background-color-over($administration-action-color),
$background-color-focus-pressed: button-default-background-color-pressed($administration-action-color),
$background-color-disabled: button-default-background-color-disabled($administration-action-color),

$color: $button-default-color,
$color-over: $button-default-color-over,
$color-focus: $button-default-color-focus,
$color-pressed: $button-default-color-pressed,
$color-focus-over: $button-default-color-focus-over,
$color-focus-pressed: $button-default-color-focus-pressed,
$color-disabled: $button-default-color-disabled,

$font-size: $button-small-font-size,
$font-size-over: $button-small-font-size-over,
$font-size-focus: $button-small-font-size-focus,
$font-size-pressed: $button-small-font-size-pressed,
$font-size-focus-over: $button-small-font-size-focus-over,
$font-size-focus-pressed: $button-small-font-size-focus-pressed,
$font-size-disabled: $button-small-font-size-disabled,

$font-weight: $button-small-font-weight,
$font-weight-over: $button-small-font-weight-over,
$font-weight-focus: $button-small-font-weight-focus,
$font-weight-pressed: $button-small-font-weight-pressed,
$font-weight-focus-over: $button-small-font-weight-focus-over,
$font-weight-focus-pressed: $button-small-font-weight-focus-pressed,
$font-weight-disabled: $button-small-font-weight-disabled,

$font-family: $button-small-font-family,
$font-family-over: $button-small-font-family-over,
$font-family-focus: $button-small-font-family-focus,
$font-family-pressed: $button-small-font-family-pressed,
$font-family-focus-over: $button-small-font-family-focus-over,
$font-family-focus-pressed: $button-small-font-family-focus-pressed,
$font-family-disabled: $button-small-font-family-disabled,

$icon-size: $button-small-icon-size,
$glyph-font-size: $button-small-icon-size,
$line-height: $button-small-line-height,
$icon-spacing: $button-small-icon-spacing,
$glyph-color: $button-default-color,
$glyph-opacity: $button-default-glyph-opacity,
$arrow-width: $button-small-arrow-width,
$arrow-height: $button-small-arrow-height,
$arrow-glyph: $button-small-arrow-glyph,
$arrow-glyph-color: $button-default-color,
$split-width: $button-small-split-width,
$split-height: $button-small-split-height,
$split-line-width: $button-small-split-line-width,
$split-line-color: $button-default-split-line-color,
$opacity-disabled: $button-opacity-disabled,
$inner-opacity-disabled: $button-inner-opacity-disabled);

@include extjs-button-ui($ui: 'administration-secondary-action-small',

$border-color: $administration-secondary-action-color,
$border-color-over: button-default-border-color-over($administration-secondary-action-color),
$border-color-focus: button-default-border-color-focus($administration-secondary-action-color),
$border-color-pressed: button-default-border-color-pressed($administration-secondary-action-color),
$border-color-focus-over: button-default-border-color-over($administration-secondary-action-color),
$border-color-focus-pressed: button-default-border-color-pressed($administration-secondary-action-color),
$border-color-disabled: button-default-border-color-disabled($administration-secondary-action-color),

$padding: $button-small-padding,
$text-padding: $button-small-text-padding,

$background-color: $administration-secondary-action-color,
$background-color-over: button-default-background-color-over($administration-secondary-action-color),
$background-color-focus: button-default-background-color-focus($administration-secondary-action-color),
$background-color-pressed: button-default-background-color-pressed($administration-secondary-action-color),
$background-color-focus-over: button-default-background-color-over($administration-secondary-action-color),
$background-color-focus-pressed: button-default-background-color-pressed($administration-secondary-action-color),
$background-color-disabled: button-default-background-color-disabled($administration-secondary-action-color),

$color: $button-default-color,
$color-over: $button-default-color-over,
$color-focus: $button-default-color-focus,
$color-pressed: $button-default-color-pressed,
$color-focus-over: $button-default-color-focus-over,
$color-focus-pressed: $button-default-color-focus-pressed,
$color-disabled: $button-default-color-disabled,

$font-size: $button-small-font-size,
$font-size-over: $button-small-font-size-over,
$font-size-focus: $button-small-font-size-focus,
$font-size-pressed: $button-small-font-size-pressed,
$font-size-focus-over: $button-small-font-size-focus-over,
$font-size-focus-pressed: $button-small-font-size-focus-pressed,
$font-size-disabled: $button-small-font-size-disabled,

$font-weight: $button-small-font-weight,
$font-weight-over: $button-small-font-weight-over,
$font-weight-focus: $button-small-font-weight-focus,
$font-weight-pressed: $button-small-font-weight-pressed,
$font-weight-focus-over: $button-small-font-weight-focus-over,
$font-weight-focus-pressed: $button-small-font-weight-focus-pressed,
$font-weight-disabled: $button-small-font-weight-disabled,

$font-family: $button-small-font-family,
$font-family-over: $button-small-font-family-over,
$font-family-focus: $button-small-font-family-focus,
$font-family-pressed: $button-small-font-family-pressed,
$font-family-focus-over: $button-small-font-family-focus-over,
$font-family-focus-pressed: $button-small-font-family-focus-pressed,
$font-family-disabled: $button-small-font-family-disabled,

$icon-size: $button-small-icon-size,
$glyph-font-size: $button-small-icon-size,
$line-height: $button-small-line-height,
$icon-spacing: $button-small-icon-spacing,
$glyph-color: $button-default-color,
$glyph-opacity: $button-default-glyph-opacity,
$arrow-width: $button-small-arrow-width,
$arrow-height: $button-small-arrow-height,
$arrow-glyph: $button-small-arrow-glyph,
$arrow-glyph-color: $button-default-color,
$split-width: $button-small-split-width,
$split-height: $button-small-split-height,
$split-line-width: $button-small-split-line-width,
$split-line-color: $button-default-split-line-color,
$opacity-disabled: $button-opacity-disabled,
$inner-opacity-disabled: $button-inner-opacity-disabled);


/**
*
*/
@include extjs-toolbar-ui($ui: 'administration-formtoolbar',

// bar
$background-color: #fff,
$border-color:$administration-action-color,

$tool-glyph-color: $administration-action-color);


/**
* Toolbar style
*/

.#{$prefix}toolbar-administration-formtoolbar,
.#{$prefix}toolbar-administration-formtoolbar-docked-top {
    border-bottom-width: 1px !important;
    border-color: $administration-secondary-action-color !important;
    z-index: 99;
    padding: 1px 0 2px 0;
}

.x-tool.administration-tool.x-box-item,
.x-tool.administration-tool.x-box-item>.x-fa {
    height: 32px !important;
}

.administration .#{$prefix}toolbar-footer {
    padding: 6px 0 6px 6px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0;
    background-image: none;
    background-color: #ececec;
}

/**
 * Tool style
 */

.#{$prefix}tool.administration-tool {

    .#{$prefix}tool-tool-el {
        color: $administration-action-color;
    }

}

.#{$prefix}btn.administration-tool {
    .#{$prefix}btn-icon>.#{$prefix}btn-icon-el {
        color: $administration-action-color;
    }

}

.#{$prefix}panel.administration.#{$prefix}panel-default {
    padding-bottom: 5px;

}

.#{$prefix}field.administration-input {
    .#{$prefix}form-trigger-wrap-default {
        border-color: $administration-action-color;
    }

    .#{$prefix}form-trigger-default {
        color: $administration-action-color;
    }
}

/**
* localization btn
*/
.#{$prefix}btn.administration-field-container-btn,
.#{$prefix}btn.administration-field-container-btn:active {
    background-color: #fff;
    border: 0;
    padding: 8px 0;
    width: 35px !important;

    .#{$prefix}btn-wrap .#{$prefix}btn-button .#{$prefix}btn-icon-el-default-small {
        color: $administration-base-color;
    }

}

.#{$prefix}btn.administration-field-container-btn .#{$prefix}btn-button-center {
    text-align: left !important;
    -webkit-box-pack: left !important;
    -ms-flex-pack: left !important;
    justify-content: left !important;
}

/**
* Lookup value img container
*/
.administration .img-container .#{$prefix}panel-body {
    border-width: 0;
}

/**
* Containers
*/
.administration .container-border-1 {
    border-width: 1px;
    border-color: #d0d0d0;
    border-style: solid;
}

/**
* Tree panel 
*/
.administration .tree-noborder .#{$prefix}grid-body {
    border-top-width: 0;
}

.#{$prefix}panel-default-outer-border-trbl {
    border-width: 0px !important;
}

/**
* TO CHANGE 
*/

.administration-inline-label-textfield .#{$prefix}form-display-field.#{$prefix}form-display-field-default {
    margin-top: 8px !important;
}

/**
* Administration tab and tools
*/
.#{$prefix}panel-body-administration-tabandtools {
    background-color: #fff !important;
}

.#{$prefix}tab-administration-tabandtools.#{$prefix}top {
    border-color: #ddd #ddd transparent #ddd !important;
}

.#{$prefix}tab-active.#{$prefix}tab.#{$prefix}tab-administration-tabandtools.#{$prefix}top {
    border-color: $administration-base-color $administration-base-color #fff $administration-base-color !important;
}

.#{$prefix}tool-administration-tabandtools {
    padding: 4px !important;
}

/**
* Grouped combo
*/
.#{$prefix}list-plain .#{$prefix}boundlist-item {
    padding: 1px 3px 0 10px
}

.#{$prefix}list-plain .group-header {
    padding: 4px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

/**
* Panel settings
*/
.administration .x-panel-body-administration-tabandtools>.x-panel-body {
    padding: 0px 10px 0px 10px;
    overflow: auto;
    left: 0px;
    top: 0px;
}


.administration-mainview-tabpanel {
    padding: 0px !important;
}

.administration-mainview-subtabpanel {
    padding: 0px 0px 10px 0px !important;

    .x-tab-bar-body-administration-tabandtools {
        padding: 8px 4px 0 20px !important;
    }
}

[id^="administration-content-menus-treepanels-destinationpanel-"] .x-tree-view {
    padding-bottom: 20px;
}

.x-panel-administration-outer-border-trl {
    border-top-color: #606060 !important;
    border-top-width: 1px !important;
    border-right-color: #606060 !important;
    border-right-width: 1px !important;
    border-left-color: #606060 !important;
    border-left-width: 1px !important;
}

.x-panel-administration-outer-border-rl {
    border-right-color: #606060 !important;
    border-right-width: 1px !important;
    border-left-color: #606060 !important;
    border-left-width: 1px !important;
}

.administration [data-componentid^="actioncolumn-"] {
    border-right: none;
    border-left: 1px solid #d0d0d0;
}

.administration .margin-right5 {
    margin-right: 5px
}

.administration .margin-left5 {
    margin-left: 5px
}