
@include extjs-tab-bar-ui(
    $ui: 'administration-tabandtools',
    
    //$ui-strip-background-color: #fff,
    $ui-background-color: #fff,
    $ui-background-gradient:  #fff,
    $ui-border-width:2px
    //$ui-border-style: solid,
   
);
@include extjs-panel-ui(
    $ui: 'administration-ligth-panel',

    $ui-header-color: $administration-color,
    $ui-header-border-color: #fff,
    $ui-header-background-color: #fff
);
@include extjs-tab-panel-ui(
    $ui: 'administration-tabandtools',

    // bar
    $ui-bar-background-color: transparent,
    $ui-bar-border-color: mix(#FFF, $administration-base-color, $administration-mix-white-percentage),
    $ui-bar-border-width: 0 0 1px 0 !important,
    
    // tab border
    $ui-tab-border-width: 1px,
    $ui-tab-border-color: mix(#FFF, $administration-base-color, $administration-mix-white-percentage),
    $ui-tab-border-color-focus: mix(#FFF, $administration-base-color, $administration-mix-white-percentage),
    $ui-tab-border-color-over: mix(#FFF, $administration-base-color, $administration-mix-white-percentage),
    $ui-tab-border-color-focus-over: mix(#FFF, $administration-base-color, $administration-mix-white-percentage),
    $ui-tab-border-color-disabled: mix(#FFF, $administration-base-color, $administration-mix-white-percentage),
    $ui-tab-border-color-active: mix(#FFF, $administration-base-color, $administration-mix-white-percentage) mix(#FFF, $administration-base-color, $administration-mix-white-percentage) #FFF mix(#FFF, $administration-base-color, $administration-mix-white-percentage),
    $ui-tab-border-color-focus-active: mix(#FFF, $administration-base-color, $administration-mix-white-percentage) mix(#FFF, $administration-base-color, $administration-mix-white-percentage) #FFF mix(#FFF, $administration-base-color, $administration-mix-white-percentage),

    // tab font color
    $ui-tab-color: mix(#FFF, $color, 40%),
    $ui-tab-color-focus: mix(#FFF, $color, 40%),
    $ui-tab-color-over: mix(#FFF, $color, 40%),
    $ui-tab-color-focus-over: mix(#FFF, $color, 40%),
    $ui-tab-color-disabled: mix(#FFF, $color, 60%),
    $ui-tab-color-active: $color,
    $ui-tab-color-focus-active: $color,
    
    // tab font weight
    $ui-tab-font-weight-active: bold,
    $ui-tab-font-weight-focus-active: bold,

    // outline
    $ui-tab-outline-width-focus: 0,

    // tab padding
    $ui-tab-padding: 4px 7px 4px 7px,

    // tab background opacity
    $ui-tab-background-opacity-over: .04,
    $ui-tab-background-opacity-active: .06
);



@include extjs-tab-ui(
    $ui: 'administration-tab-item',
    $ui-background-color: lighten($administration-base-color,35%),
    $ui-background-color-active: #ffffff,
    $ui-background-color-disabled: lighten($administration-base-color,40%),

    $ui-color:$administration-color,
    $ui-color-over:$administration-color,
    $ui-color-active:$administration-color,
    //$ui-font-family-active:'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif,
    $ui-font-weight-active:600,
    $ui-font-weight-focus-active:600,
    $ui-border-color-focus-active:mix(#FFF, $administration-base-color, $administration-mix-white-percentage),
    $ui-border-color-focus-over:mix(#FFF, $administration-base-color, $administration-mix-white-percentage),
    $ui-border-color-active: mix(#FFF, $administration-base-color, $administration-mix-white-percentage),

    $ui-inner-border-color-focus-active:#ffffff,
    $ui-outline-color-focus:#ffffff,
    $ui-outline-width-focus:0px
);
.x-tab-administration-tab-item-top{
    padding:5px 10px 4px 10px!important
}
.x-tab-bar-body.x-tab-bar-body-administration-tabandtools {
    border-width: 0 0 1px 0 !important;
    margin-bottom: -1px;
}
.x-tab.x-tab-focus.x-tab-pressed
.x-box-scroller-tab-bar-administration-tabandtools{
    color:$administration-color
}
.x-tab.x-tab-over.x-tab-administration-tab-item{
    color:$administration-color;
}
.x-tab.x-tab-administration-tab-item, .x-tab.x-tab-disabled.x-tab-administration-tab-item{
    
    border-bottom:1px solid mix(#FFF, $administration-base-color, $administration-mix-white-percentage);
   
}
.x-tab.x-tab-active.x-tab-administration-tab-item{
    border-width: 1px!important;
    border-style: solid;
    border-bottom:0;
    font-weight: 600!important;
}

.x-panel-body-default {
    background: #fff!important;
}

.x-toolbar-administration-docked-top .x-toolbar-title-administration{
    color: #30373d;
    font-size: 16px!important;
    font-weight: 400;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    line-height: 20px;
    padding-left: 10px!important
}