@mixin cmdbuildui-statuses-progressbar-ui(
    $ui: null,
    $ui-margin-bottom: $cmdbuildui-statuses-progressbar-margin-bottom,
    $ui-item-background: $cmdbuildui-statuses-progressbar-item-background,
    $ui-item-color: $cmdbuildui-statuses-progressbar-item-color,
    $ui-current-item-background: $cmdbuildui-statuses-progressbar-current-item-background,
    $ui-current-item-color: $cmdbuildui-statuses-progressbar-current-item-color
) {
    $ui-item-padding: 5px 0 5px 27px;
    $ui-first-item-padding-left: 10px;
    $ui-arrow-border-width: 25px;
    $ui-arrow-border-left-width: ($ui-arrow-border-width - $ui-first-item-padding-left);
    $ui-space-between-items: 3px;
    
    .#{$prefix}statuses-progress-bar-#{$ui} {
        overflow: hidden;
        margin-bottom: $ui-margin-bottom;

        .#{$prefix}statuses-progress-bar-item {
            padding: $ui-item-padding;
            background: $ui-item-background;
            color: $ui-item-color;
            position: relative; 
            display: block;
            float: left;

            &::after {
                content: " "; 
                display: block; 
                width: 0; 
                height: 0;
                border-top: $ui-arrow-border-width solid transparent; /* Go big on the size, and let overflow hide */
                border-bottom: $ui-arrow-border-width solid transparent;
                border-left: $ui-arrow-border-left-width solid $ui-item-background;
                position: absolute;
                top: 50%;
                margin-top: -$ui-arrow-border-width; 
                left: 100%;
                z-index: 2; 
            }

            &::before { 
                content: " "; 
                display: block; 
                width: 0; 
                height: 0;
                border-top: $ui-arrow-border-width solid transparent;       
                border-bottom: $ui-arrow-border-width solid transparent;
                border-left: $ui-arrow-border-left-width solid #fff;
                position: absolute;
                top: 50%;
                margin-top: -$ui-arrow-border-width; 
                margin-left: $ui-space-between-items;
                left: 100%;
                z-index: 1; 
              }

              &:first-child{
                padding-left: $ui-first-item-padding-left;
              }

              &.#{$prefix}statuses-progress-bar-item-current {
                background-color: $ui-current-item-background;
                color: $ui-current-item-color;
                font-weight: 600;

                &::after {
                    border-left-color: $ui-current-item-background;
                }
              }
        }
    }
}

@include cmdbuildui-statuses-progressbar-ui(
    $ui: 'default'
);