@include extjs-button-small-ui(
    $ui: 'header',
    $color: #777,
    $glyph-color: #717171,
    $background-color: transparent,
    $border-width: 0
);

.logo img {
    max-height: 30px;
}
.instancename {
    font-size: 150%;
}
.header-button-link{
    text-decoration: none;
}